*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board{
    background: pink;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    padding-top: 3.6rem;
}
.cell{
   border: 1px solid green;
   width: 100px;
   height: 100px;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}


.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}