*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board{
    background: pink;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center; 
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: repeat(3, 100px); */
    padding-top: 3.6rem;
    position: relative;
}
.cell{
   border: 1px solid green;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}


.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}
/* x sign */
.x::before,
.x::after{
    content: "";
    width: 10px;
    height: 80px;
    background: green;
    position: absolute;
    
}
.x::before{
    transform: rotate(45deg);
}
.x::after{
    transform: rotate(-45deg);
}

/* circle sign */
.circle::before,
.circle::after{
    content: "";
    position: absolute;
    text-align: center;
}
.circle::before{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: green;
}
.circle::after{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: pink;
}
.messageText{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.messageText button {
    font-size: 3rem;
    background: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer; 
}
.messageText buutton:hover{
    background: black;
    color: white;
    border: 1px solid white;
}
.messageText.show{
    display: flex;
}